# Build output
bin/
obj/

# VS / Rider
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
.nuget/
packages/

# Logs & temp
*.log
*.tmp
*.cache

# OS
.DS_Store
Thumbs.db

# Publish output
publish/
